<!doctype html />
<html lang="en" />
<head>
   <title> Home | Simplicity SPA Elm </title>
   
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
   
   <link rel="stylesheet" href="../../master.css" />
   <style> /* page overrides */ </style>
</head>
<body>
   <nav class="Navigator Base">
      <a class="Navigator Avatar" href="#">
         <img src="../../component/Navigator/avatar.jpg"
              alt="Semi Dev 's Avatar"
         /><!-- img -->
         Semi Dev_
      </a><!-- .Navigator.Avatar -->
      
      <input class="Search" type="text"
             placeholder="Search with Google..."
      /><!-- input -->
      
      <label class="Active" for="folder-0"> Topics </label>
      
      <input id="folder-0" type="checkbox" checked />
      <div class="Navigator Folder">
         <div class="Folder Container">
            <a class="Navigator Link Current" href="#"> Ada </a> 
            <a class="Navigator Link" href="#"> Bash </a>
            <a class="Navigator Link" href="#"> C </a>
            <a class="Navigator Link" href="#"> Crystal </a>
            <a class="Navigator Link" href="#"> CSS </a>
            <a class="Navigator Link" href="#"> Elm </a>
            <a class="Navigator Link" href="#"> Haskell </a>
            <a class="Navigator Link" href="#"> HTML </a>
            <a class="Navigator Link" href="#"> JavaScript </a>
            <a class="Navigator Link" href="#"> Kotlin </a>
            <a class="Navigator Link" href="#"> Lua </a>
            <a class="Navigator Link" href="#"> Java </a>
            <a class="Navigator Link" href="#"> PHP </a>
            <a class="Navigator Link" href="#"> Python </a>
            <a class="Navigator Link" href="#"> Ruby </a>
            <a class="Navigator Link" href="#"> Scala </a>
            <a class="Navigator Link" href="#"> TypeScript </a>
            <a class="Navigator Link" href="#"> VB.NET </a>
            <a class="Navigator Link" href="#"> XML </a>
         </div><!-- .Folder.Container -->
      </div><!-- .Navigator.Folder -->
      
      <a class="GitHub" target="_blank"
         href="https://github.com/thinhtranhnvn">
         GitHub
      </a><!-- .GitHub -->
   </nav><!-- .Navigator.Base -->
   
   <nav class="Overview Base">
      <a class="Overview Link" href="#"> Overview </a>
      <a class="Overview Link" href="#"> Lao Tzu Jing </a>
      <a class="Overview Link" href="#"> Heart Sutra </a>
      <a class="Overview Link Current" href="#"> Yoga Sutra </a>
   </nav><!-- .Overview.Base -->
   
   <main class="Indexer Base">
      <div class="Indexer Container">
         <header class="Indexer Intro">
            <h1> Yoga Sutra </h1>
            
            <p>
               A translation of the Indian's sacred text by Micheal Yeshe. 
               This version is more than just a collection of fragmented texts 
               which were found in the historic workplace of master Patanjali.
            </p>
         </header><!-- .Indexer.Intro -->
         
         <nav class="Indexer Content">
            <a class="Indexer Link" href="#"> About The Author </a>
            <a class="Indexer Link" href="#"> First Cornerstone </a>
            <a class="Indexer Link" href="#"> Power of Compassion </a>
            <a class="Indexer Link" href="#"> To Become Whole </a>
            <a class="Indexer Link" href="#"> The Seer </a>
            <a class="Indexer Link" href="#"> A Day in The Mind </a>
            <a class="Indexer Link" href="#"> Pictures in The Mind </a>
            <a class="Indexer Link" href="#"> Approaching The Door </a>
            <a class="Indexer Link" href="#"> Power of Daily Practice </a>
            <a class="Indexer Link" href="#"> Attachment to Distraction </a>
            <a class="Indexer Link" href="#"> Attachment to Illusion </a>
            <a class="Indexer Link" href="#"> Meditation Traps </a>
            <a class="Indexer Link" href="#"> Karmic Seeds that Never Sprout </a>
            <a class="Indexer Link" href="#"> The Five Powers </a>
            <a class="Indexer Link" href="#"> The Four Stages </a>
            <a class="Indexer Link" href="#"> The Transcended Beings </a>
            <a class="Indexer Link" href="#"> Serve The Masters </a>
            <a class="Indexer Link" href="#"> The Highest Prayes </a>
            <a class="Indexer Link" href="#"> Beginning Obstacles </a>
            <a class="Indexer Link" href="#"> Inner and Outer </a>
            <a class="Indexer Link" href="#"> Four Infinite Thoughts </a>
            <a class="Indexer Link" href="#"> Bright and Clear </a>
            <a class="Indexer Link" href="#"> Freedom from Ego </a>
            <a class="Indexer Link" href="#"> The Deeper Powers </a>
            <a class="Indexer Link" href="#"> Path of Vajrayana </a>
            <a class="Indexer Link" href="#"> Remember The Peek </a>
            <a class="Indexer Link" href="#"> Approaching The Goal </a>
            <a class="Indexer Link" href="#"> Beyond All Fears </a>
            <a class="Indexer Link" href="#"> End of Karmic Seeds </a>
         <nav><!-- .Indexer.Content -->
      </div><!-- .Indexer.Container -->
   </main><!-- .Series.Base -->
</body>
</html>

