<!doctype html />
<html lang="en" />
<head>
   <title> Home | Simplicity SPA Elm </title>

   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

   <link rel="stylesheet" href="../../master.css" />
   <style> /* page overrides */ </style>
</head>
<body>
   <nav class="Navigator Base">
      <a class="Navigator Avatar" href="/">
         <img src="../../Component/Navigator/avatar.jpg"
              alt="Semi Dev 's Avatar"
         /><!-- img -->
         Semi Dev_
      </a><!-- .Navigator.Avatar -->
      
      <input class="Navigator Search" type="text"
             placeholder="Search with Google..."
      /><!-- input -->
      
      <input id="folder-0" type="checkbox" checked />
      <label for="folder-0"> Topics </label>
      <div class="Navigator Folder">
         <div class="Folder Container">
            <a class="Navigator Link Current" href="#"> Ada </a> 
            <a class="Navigator Link" href="#"> Bash </a>
            <a class="Navigator Link" href="#"> C </a>
            <a class="Navigator Link" href="#"> Crystal </a>
            <a class="Navigator Link" href="#"> CSS </a>
            <a class="Navigator Link" href="#"> Elm </a>
            <a class="Navigator Link" href="#"> Haskell </a>
            <a class="Navigator Link" href="#"> HTML </a>
            <a class="Navigator Link" href="#"> JavaScript </a>
            <a class="Navigator Link" href="#"> Kotlin </a>
            <a class="Navigator Link" href="#"> Lua </a>
            <a class="Navigator Link" href="#"> Java </a>
            <a class="Navigator Link" href="#"> PHP </a>
            <a class="Navigator Link" href="#"> Python </a>
            <a class="Navigator Link" href="#"> Ruby </a>
            <a class="Navigator Link" href="#"> Scala </a>
            <a class="Navigator Link" href="#"> TypeScript </a>
            <a class="Navigator Link" href="#"> VB.NET </a>
            <a class="Navigator Link" href="#"> XML </a>
         </div><!-- .Folder.Container -->
      </div><!-- .Navigator.Folder -->
      
      <a class="Navigator GitHub" target="_blank"
         href="https://github.com/thinhtranhnvn">
         GitHub
      </a><!-- .Navigator.GitHub -->
   </nav><!-- .Navigator.Base -->
   
   <nav class="Overview Base">
      <a class="Overview Link Current" href="#"> Overview </a>
      <a class="Overview Link" href="#"> Lao Tzu </a>
      <a class="Overview Link" href="#"> Yoga Sutra </a>
      <a class="Overview Link" href="#"> Heart Sutra </a>
   </nav><!-- .Overview.Base -->
   
   <article class="Reader Base">
      <div class="Reader Container">
         <span> Edited </span> <time datetime="12-1-2023">Jan 29, 2023</time>
         <h1> Semi Dev_ 's Blog </h1>
         
         <p>
            In this blog, I'm writing about <code>code</code> and <code>zen</code> . 
         </p>
         
         <code contenteditable>// -- main.js

void function main (_) {
   console.log ("Semi Dev_")
} (Infinity)</code>

          <p> And yet, there are a little more than a personal blog . </p>

          <h2> What is Lorem Ipsum ? </h2>
          
          <p>
             Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make 
             a type specimen book.
          </p>
          <p>
             It has survived not only five centuries, but also 
             the leap into electronic typesetting, remaining essentially unchanged. 
             It was popularised in the 1960s with the release of Letraset sheets 
             containing Lorem Ipsum passages, and more recently with desktop publishing
             software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          
          <h2> Where does it come from ? </h2>
          
          <p>
             Contrary to popular belief, Lorem Ipsum is not simply random text. 
             It has roots in a piece of classical Latin literature from 45 BC, 
             making it over 2000 years old. Richard McClintock, a Latin professor 
             at Hampden-Sydney College in Virginia, looked up one of the more obscure 
             Latin words, consectetur, from a Lorem Ipsum passage, and going through 
             the cites of the word in classical literature, 
             discovered the undoubtable source.
          </p>
          <p>
             Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 
             "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
             written in 45 BC. This book is a treatise on the theory of ethics,
             very popular during the Renaissance. The first line of Lorem Ipsum,
             "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </p>
          <p>
             The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
             for those interested. Sections 1.10.32 and 1.10.33 from 
             "de Finibus Bonorum et Malorum" by Cicero are also reproduced in 
             their exact original form, accompanied by English versions 
             from the 1914 translation by H. Rackham.
          </p>
          
          <span> Next </span> <a href="#">Functional Aspects</a> 
      <div><!-- .Reader.Container -->
   </article><!-- .Reader.Base -->
</body>
</html>

