<!doctype html />
<html lang="en" />
<head>
   <title> Home | Simplicity SPA Elm </title>

   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

   <link rel="stylesheet" href="../master.css" />
   <style> /* page overrides */ </style>
</head>
<body>
   <nav class="Navigator Base">
      <a class="Navigator Avatar" href="/">
         <img src="../Element/Navigator/avatar.jpg"
              alt="Semi Dev 's Avatar"
         /><!-- img -->
         Semi Dev_
      </a><!-- .Navigator.Avatar -->
      
      <input class="Navigator Search" id="search"
             type="text" placeholder="Search with Google..."
      /><!-- input -->
      
      
      <label class="Navigator Toggler"> Topics </label>
      
      <div class="Navigator Folder Collapsed">
         <div class="Folder Container">
            <a class="Navigator Link" href="#"> Ada </a> 
            <a class="Navigator Link" href="#"> Bash </a>
            <a class="Navigator Link" href="#"> C </a>
            <a class="Navigator Link" href="#"> C++ </a>
            <a class="Navigator Link" href="#"> CSS </a>
            <a class="Navigator Link Current" href="#"> Elm </a>
            <a class="Navigator Link" href="#"> Haskell </a>
            <a class="Navigator Link" href="#"> HTML </a>
            <a class="Navigator Link" href="#"> JavaScript </a>
            <a class="Navigator Link" href="#"> Kotlin </a>
            <a class="Navigator Link" href="#"> Lua </a>
            <a class="Navigator Link" href="#"> Java </a>
            <a class="Navigator Link" href="#"> PHP </a>
            <a class="Navigator Link" href="#"> Python </a>
            <a class="Navigator Link" href="#"> Ruby </a>
            <a class="Navigator Link" href="#"> Scala </a>
            <a class="Navigator Link" href="#"> TypeScript </a>
            <a class="Navigator Link" href="#"> VB.NET </a>
            <a class="Navigator Link" href="#"> XML </a>
         </div><!-- .Folder.Container -->
      </div><!-- .Navigator.Folder -->
      
      <a class="Navigator GitHub" target="_blank"
         href="https://github.com/thinhtranhnvn">
         GitHub
      </a><!-- .Navigator.GitHub -->
   </nav><!-- .Navigator.Base -->
   
   <nav class="Overview Base">
      <a class="Overview Link" href="#"> Overview </a>
      <a class="Overview Link Current" href="#"> Heart Sutra </a>
      <a class="Overview Link" href="#"> Yoga Sutra </a>
   </nav><!-- .Overview.Base -->
   
   <main class="Indexer Base">
      <div class="Indexer Container">
         <span>origin</span>
         
         <header class="Indexer Intro">
            <h1>Hrdaya Sutra</h1>
            <p>A passionate explaination of Prajnaparamitahrdaya Sutra.</p>
         </header><!-- .Indexer.Intro -->
         
         <nav class="Indexer Content">
            <a class="Indexer Link" href="#"> The First Preface </a>
            <a class="Indexer Link" href="#"> The Second Preface </a>
            <a class="Indexer Link" href="#"> Translator's Introduction </a>
            <a class="Indexer Link" href="#"> Prologue by Grand Master T'an Hsu </a>
            <a class="Indexer Link" href="#"> Prajna Paramita Hrdaya Sutra </a>
         </nav><!-- .Indexer.Content -->
      </div><!-- .Indexer.Container -->
   </main><!-- .Indexer.Base -->
   
   <script src="../jquery.min.js"> </script>
   <script src="../main.js"> </script>
</body>
</html>

