@charset "utf-8";


.GitHub
   { font-weight: bold
   ; text-decoration: none
   }
.GitHub
   { background: white
   ; color: black
   }
.GitHub:hover
   { color: dimgrey }
.GitHub
   { cursor: pointer }
.GitHub
   { display: inline-block
   ; padding: 9px 15px
   ; border-radius: 19px
   }
.GitHub
   { position: absolute
   ; top: 11px
   ; right: 39px
   }

@media screen and (max-width: 510px)
   { .GitHub
        { display: none } 
   }

