@charset "utf-8";


.Indexer.Base
   { background: white }
.Indexer.Base
   { display: block
   ; width: 100%
   }

.Indexer.Container
   { display: block
   ; width: 100%
   ; max-width: 960px
   ; padding: 36px 39px 60px
   ; margin: 18px auto
   }

.Indexer.Content
   { display: flex
   ; flex-direction: column
   ; gap: 3px
   }
   
.Indexer.Link
   { display: inline-block
   ; padding: 9px 18px
   ; background: whitesmoke
   }
.Indexer.Link::before
   { content: "\2218" }
   
@media screen and (max-width: 510px)
   { .Indexer.Container
        { padding: 36px 15px 60px }
   }

