@charset "utf-8";


input#folder-0
   { display: none }
[for="folder-0"]
   { font-weight: bold }
[for="folder-0"]
   { background: inherit
   ; color: white
   }
[for="folder-0"]:hover,
[for="folder-0"].Active
   { background: dimgrey }
[for="folder-0"]
   { cursor: pointer }
[for="folder-0"]
   { display: inline-block
   ; padding: 9px 15px
   ; border-radius: 19px
   }

.Navigator.Folder
   { background: inherit
   ; color: white
   }
.Navigator.Folder
   { display: block
   ; width: 100%
   }
.Navigator.Folder
   { position: fixed
   ; top: 60px
   ; left: 0
   }

.Folder.Container
   { display: grid
   ; grid-template-columns: 1fr 1fr 1fr 1fr 1fr
   ; gap: 12px
   ; width: 100%
   ; max-width: 1150px
   ; padding: 0 39px
   ; margin: 18px auto
   }

.Navigator.Link
   { font-weight: bold
   ; text-decoration: none
   }
.Navigator.Link
   { background: inherit
   ; color: white
   }
.Navigator.Link:hover
   { color: lightgrey }
.Navigator.Link.Current
   { background: dimgrey }
.Navigator.Link
   { display: inline-block
   ; padding: 9px 15px
   ; border-radius: 19px
   }

.Navigator.Folder
   { max-height: 0
   ; overflow: hidden
   ; transition: all 0.45s
   }

input#folder-0:checked + .Navigator.Folder
   { border-top: 1px solid dimgrey
   ; border-bottom: 1px solid dimgrey
   }
input#folder-0:checked + .Navigator.Folder
   { max-height: 240px }

@media screen and (max-width: 900px)
   {  .Folder.Container
         { grid-template-columns: 1fr 1fr 1fr 1fr }
         
      input#folder-0:checked + .Navigator.Folder
         { max-height: 300px }
   }

@media screen and (max-width: 750px)
   {  .Folder.Container
         { grid-template-columns: 1fr 1fr 1fr }
         
      input#folder-0:checked + .Navigator.Folder
         { max-height: 390px }
   }

@media screen and (max-width: 570px)
   {  .Folder.Container
         { grid-template-columns: 1fr 1fr }
         
      input#folder-0:checked + .Navigator.Folder
         { max-height: 510px }
   }

